body{
    background-color: rgb(49, 49, 49);
}

form{
    height: 40vh;
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(188, 188, 188);
    margin: 50px auto;
}

h1{
    text-align: center;
}